<h3><%=l(:field_started_issues)%></h3>
<% if items && items.any? %>
  <table class="list">
    <thead>
      <tr>
        <th><%=l(:field_project)%></th>
        <th><%=l(:field_issue)%></th>
        <th><%=l(:field_start_at)%></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% for item in items %>
      <tr id="item-<%= item.id %>" class="">
        <td class="project"><%= Issue.find(item.issue_id).project %></td>
        <td class="issue">(#<%= item.issue_id %>)<%= Issue.find(item.issue_id).subject.truncate(50) %></td>
        <td class="start-at"><%= Time.zone.parse(item.start_at.to_s).localtime.to_s(:db) %></td>
        <td class='project btn-action'><%= link_to l(:button_stop), hamsters_stop_path(hamster_issue_id: item), method: 'post' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
