<h3><%=l(:label_assigned_to_me_issues)%> <%= button_to '+', new_issue_path, method: :get, class: 'btn-action', style: "cursor: pointer;" %></h3></h3>
<% if issues && issues.any? %>
  <table class="list issues">
    <thead>
      <tr>
        <th><%=l(:field_issue)%></th>
        <th><%=l(:field_project)%></th>
        <th><%=l(:field_tracker)%></th>
        <th><%=l(:field_subject)%></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% for issue in issues %>
      <tr id="issue-<%= h(issue.id) %>" class="<%= issue.css_classes %>">
        <td class="id"><%= link_to(issue.id, issue_path(issue)) %></td>
        <td class="project"><%= link_to_project(issue.project) %></td>
        <td class="tracker"><%= issue.tracker %></td>
        <td class="subject">
          <%= link_to(issue.subject.truncate(60), issue_path(issue)) %> (<%= issue.status %>)
        </td>
        <% if !issue.has_hamster_issue? %>
          <td class='project btn-action'><%= link_to l(:button_start), hamsters_start_path(issue_id: issue.id), method: 'post' %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>