<h3><%=l(:field_ready_to_raport)%></h3>
<% if items && items.any? %>
  <% entries_by_day = RedmineHamster::LoadData.raported_time.group_by(&:spent_on) %>
  <% collection_of_activities = activity_collection_for_select_options %>
  <% last_activity_id = TimeEntry.select('user_id, activity_id, created_on').where(user_id: User.current.id).order('created_on DESC').first.try(:activity_id) %>
  <table class="list">
    <thead>
      <tr>
        <th><%=l(:field_issue)%></th>
        <th><%=l(:field_project)%></th>
        <th><%=l(:field_tracker)%></th>
        <th><%=l(:field_subject)%></th>
        <th><%=l(:field_spend_time)%></th>
        <th></th>
        <th><%= link_to '', remove_hamsters_path, method: :post, :class => 'icon icon-del destroy-all', title: l(:title_remove_hamsters), :data => {:confirm => l(:confirm_remove_hamsters)} %></th>
      </tr>
    </thead>

    <% items.keys.sort.each do |day| %>
      <tbody style="padding-bottom: 2px;">
        <tr id="<%= day %>" class="">
          <th class="date" colspan="7"><%= day %></th></tr>
        </tr>
        <% for item in items[day] %>
            <tr id="<%= day %>" class="list-hamsters <%= day %>">
              <td class="issue"><%= link_to item.issue_id, issue_path(item.issue) %></td>
              <td class="project"><%= link_to_project(item.issue.project) %></td>
              <td class="tracker"><%= item.issue.tracker %></td>
              <td class="subject"><%= link_to item.issue.subject.truncate(30), issue_path(item.issue) %></td>
              <%= form_for item, :remote => true do |f| %>
                <td class="spend_time">
                  <%= f.text_field :spend_time, autocomplete: 'off' %>h 
                  <%= f.submit l(:button_save), class: 'action-save btn-action' %>
                </td>
              <% end %>
              <%= form_for :time_entry, :url => {:action => "raport_time"}, :remote => true do |t| %>
                <%= t.hidden_field :issue_id, value: item.issue_id %>
                <%= t.hidden_field :hamster_id, value: item.id %>
                <%= t.hidden_field :spent_on, value: day %>
                <%= t.hidden_field :hours, value: item.spend_time, class: 'hamster-hours' %>
                <td class='raport-action btn-action'>
                  <%= t.select :activity_id, collection_of_activities.all.collect {|a| [a.name, a.id]}, selected: last_activity_id %>
                  <%= t.submit l(:button_raport), class: 'raport-hamster' %>
                </td>
              <% end %>
              <td class='remove-action'><%= link_to '', item, method: :delete, remote: true, :class => 'icon icon-del remove-hamster' %></td>
            </tr>
        <% end %>
        <tr id="<%= day %>">
          <th class='day-info' colspan="7">
            <%= l(:label_time_summary) %><b class='total-spent-time<%= day %>'></b><br/>
            <% already_raported = entries_by_day[day].blank? ? "0.00" : '%.2f' % entries_by_day[day].sum(&:hours).to_f %>
            <%= l(:label_already_raported) %><b class='already-raported'><%= already_raported %></b>
          </th>
        </tr>
      </tbody>
    <% end %>
    
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
