<h3><%=l(:field_ready_to_raport)%></h3>
<% if items && items.any? %>
  <table class="list">
    <thead>
      <tr>
        <th><%=l(:field_project)%></th>
        <th><%=l(:field_tracker)%></th>
        <th><%=l(:field_subject)%></th>
        <th><%=l(:field_spend_time)%></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    
    <% items.keys.sort.each do |day| %>
      <tbody style="padding-bottom: 2px;">
        <tr id="<%= day %>" class="">
          <th class="date" colspan="6"><%=day%></th>
        </tr>
        <% for item in items[day] %>
            <% issue = Issue.find(item.issue_id) %>
            <tr id="<%= day %>" class="list-hamsters">            
              <td class="project"><%= issue.project %></td>
              <td class="tracker"><%= issue.tracker %></td>
              <td class="subject">(#<%= issue.id %>)<%= issue.subject.truncate(30) %></td>
              <%= form_for item, :remote => true do |f| %>
                <td class="spend_time">
                  <%= f.text_field :spend_time, autocomplete: 'off' %>h 
                  <%= f.submit l(:button_save), class: 'action-save btn-action' %>
                </td>
              <% end %>
              <%= form_for :time_entry, :url => {:action => "raport_time"}, :remote => true do |t| %>
                <%= t.hidden_field :issue_id, value: issue.id %>
                <%= t.hidden_field :hamster_id, value: item.id %>
                <%= t.hidden_field :spent_on, value: day %>
                <%= t.hidden_field :hours, value: item.spend_time, class: 'hamster-hours' %>
                <td class='raport-action btn-action'>
                  <%= t.select :activity_id, activity_collection_for_select_options %>
                  <%= t.submit l(:button_raport), class: 'raport-hamster' %>
                </td>
              <% end %>
              <td class='remove-action'><%= link_to '', item, method: :delete, remote: true, :class => 'icon icon-del remove-hamster' %></td>
            </tr>
        <% end %>
      </tbody>
    <% end %>
    
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
