<% if User.current.admin? || User.current.has_access? %>
  <% @work = WorkTime.find_by(user_id: User.current.id).blank? ? WorkTime.new : WorkTime.find_by(user_id: User.current.id)%>
  <fieldset class="box tabular">
    <legend><%=l(:label_working_hours)%></legend>
    <p>
      <label><%=l(:label_start_at)%></label>
      <%= text_field_tag :start_at, @work.start_at.try(:strftime, "%H:%M"), id: 'start_at', class: 'timepicker', autocomplete: 'off' %><br/>
      <label><%=l(:label_end_at)%></label>
      <%= text_field_tag :end_at, @work.end_at.try(:strftime, "%H:%M"), id: 'end_at', class: 'timepicker', autocomplete: 'off'  %><br/><br/>
      <label><%=l(:label_after_start)%></label>
      <%= select_tag :start_status_to, options_from_collection_for_select(IssueStatus.where(is_closed: false), "id", "name", @work.start_status_to), include_blank: true %><br/>
      <label><%=l(:label_after_stop)%></label>
      <%= select_tag :stop_status_to, options_from_collection_for_select(IssueStatus.all, "id", "name", @work.stop_status_to), include_blank: true %><br/><br/>
      <label><%=l(:label_multiple_start)%></label>
      <%= check_box_tag :multi_start, @work.multi_start, @work.multi_start %><br/>
    </p>
  </fieldset>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'jquery.timepicker', :plugin => 'redmine_hamster', :media => 'all' %>
  <%= javascript_include_tag 'jquery.timepicker',  :plugin => 'redmine_hamster' %>
  <%= javascript_include_tag 'my', :plugin => 'redmine_hamster' %>
<% end %>
