<% if User.current.admin? || User.current.has_access_to_hamster? %>
  </fieldset>
  <% work = user.work_time || WorkTime.new(user: user) %>
  <fieldset class="box tabular">
    <legend><%=l(:label_working_hours)%></legend>
    <p>
      <%= form.fields_for work, remote: true do |f| %>
        <%= f.text_field :start_at, value: work.start_at.try(:strftime, "%H:%M"), id: 'start_at', class: 'timepicker', autocomplete: 'off' %><br/>
        <%= f.text_field :end_at, value: work.end_at.try(:strftime, "%H:%M"), id: 'end_at', class: 'timepicker', autocomplete: 'off'  %><br/><br/>
        <%= f.select :start_status_to, options_from_collection_for_select(IssueStatus.where(is_closed: false), "id", "name", work.start_status_to), include_blank: true %><br/>
        <%= f.select :stop_status_to, options_from_collection_for_select(IssueStatus.all, "id", "name", work.stop_status_to), include_blank: true %>
        <em class='info'><%= l(:info_status_change) %></em><br/>
        <%= f.check_box :multi_start %><br/><br/>
        <%= f.text_field :days_ago, autocomplete: 'off', size: 4 %><%=l(:label_days_ago)%>
      <% end %>
    </p>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'jquery.timepicker', :plugin => 'redmine_hamster', :media => 'all' %>
  <%= javascript_include_tag 'jquery.timepicker',  :plugin => 'redmine_hamster' %>
  <%= javascript_include_tag 'my', :plugin => 'redmine_hamster' %>
<% end %>
